body
{
  font-family: 'Spectral', sans-serif;	
  text-align: center;
  font-size: 150%;
  font-weight:bold;
  min-height:100%;
  background-image: url("images/background.jpg");
  background-size: cover;
  color: red;
}

table 
{
  table-layout: fixed;
  width: 75%;
  border-collapse: collapse;
  border: .18em solid green;
  margin: 0 auto;
  overflow: hidden;
}

th 
{	
  border: 2px solid red;
  text-align: center;
  font-family: 'Spectral', sans-serif;
  font-size: 18px;
  height: 60px;
  background-color: #00008B; 
  color: green;
  padding: 10px
}

td
{
  border: 1px solid red;
  font-family: 'Spectral', sans-serif;
  font-size: 15px;
  text-align: center; 
  background-color: #1a1aff;
  color: white;
  padding: 10px;
}

.image
{
  position: relative;
  float: none;
  width:  6.25em;
  height: 6.25em;
}	

